<! DOCTYPE html>
<html>
  <head>
    <title>Cool Site</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="/app.js"></script>
  </head>
  <body>
    <h1>Welcome to our Products</h1>
    <div class="container">
      <%= contents %>
    </div>
  </body>
</html>
